<form class='{{cssClass}}' autocomplete='off'>
  <div class='adventure-hand-row'>
    {{#each cards as |card|}}
      <div class='card' data-card-id='{{card.id}}'>
        <img class='hand-card-face' src='{{card.faces.0.img}}' />
        <div class='card-details' data-card-uuid='{{card.uuid}}'>
          <p class='header'>{{card.name}}</p>
          <div style='overflow-y:scroll'>
            <p class='text'>{{card.description}}</p>
          </div>
          {{#if @root.options.editable}}
            <div class='flexrow card-action-bar'>
              <a class='play-card' data-card-uuid='{{card.uuid}}'><i
                  class='fas fa-hand-sparkles'
                ></i>
                {{localize 'ACG.PLAY'}}</a>
              <a class='give-card' data-card-uuid='{{card.uuid}}'><i
                  class='fas fa-share-square'
                ></i>
                {{localize 'ACG.GIVE'}}</a>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</form>