<div class="chat-card adventure-draw">
  <div class="adventure-card-filter-container">
    <img class="result-image chat-card-popout"
         src="{{img}}"
         alt="{{name}}"
         data-card-img="{{img}}">
  </div>
  <div class="result-text chat-card-popout"
       data-card-img="{{img}}">
    {{name}}
  </div>
</div>
