<form
  class='flexrow'
  autocomplete='off'
  data-pack='{{adventure.pack}}'
  data-adventure-id='{{adventure.id}}'
>
  <header class='adventure-head'>
    <img class='chapter-image' src='{{adventure.img}}' title='{{adventure.name}}' />
    <h1 class='chapter-heading'>{{adventure.name}}</h1>
  </header>

  <section class='adventure-overview'>
    <h2>{{localize 'ADVENTURE.ImportHeaderOverview'}}</h2>
    {{{adventure.description}}}
    <div class='form-group'>
      <label class='checkbox'>
        <input type='checkbox' name='dontShowAgain' {{checked this.dontShowAgain}} />
        Don't show this dialog again
      </label>
    </div>
  </section>

  <section class='import-controls'>
    <h2>{{localize 'ADVENTURE.ImportHeaderContents'}}</h2>
    <div class='form-group'>
      <label class='checkbox'>
        <input type='checkbox' name='importFields' value='all' title='Import All' checked />
        Import All
      </label>
    </div>
    {{#each contents}}
      <div class='form-group'>
        <label class='checkbox'>
          <input
            type='checkbox'
            name='importFields'
            value='{{this.field}}'
            title='Import {{this.label}}'
            checked
            disabled
          />
          <i class='{{this.icon}}'></i>
          {{this.count}}
          {{this.label}}
        </label>
      </div>
    {{/each}}
  </section>

  {{#if hasImportOptions}}
    <section class='import-options'>
      <h2>Import Options</h2>
      {{#each importOptions as |option name|}}
        <div class='form-group'>
          <label class='checkbox'>
            <input
              type='checkbox'
              name='{{name}}'
              title='{{option.label}}'
              {{checked option.default}}
            />
            {{option.label}}
          </label>
        </div>
      {{/each}}
    </section>
  {{/if}}

  <footer class='adventure-footer'>
    {{#if changelog}}
      <button class='changelog-link'>
        <i class='fas fa-book'></i>
        {{localize 'SETUP.ViewPackageChangelog'}}
      </button>
    {{/if}}
    <button type='submit'>
      <i class='fas fa-download'></i>
      {{localize 'ADVENTURE.ImportSubmit'}}
    </button>
  </footer>
</form>